@charset "utf-8";

@import url('layout.css'); /* 사이트 레이아웃설정 */
@import url('setup.css'); /* 사이트 세부설정 */


body { height: 100%; line-height: 14px; font-size: 12px; font-family: Dotum; word-break: break-word; word-wrap: break-word; word-break: keep-all; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p { margin: 0px; padding:0px; -webkit-text-size-adjust:none; }
table { border-collapse: collapse; border-spacing: 0px; }
fieldset, img, abbr, acronym { border: 0px; }
legend { position: absolute; *margin-left: -7px; height: 0; line-height: 0; font-size: 0; overflow: hidden; }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }
ol,ul { list-style: none; }
caption { height: 0; line-height: 0; font-size: 0; overflow: hidden; text-indent: -10000px; }
q:before, q:after { content:''; }
a { color: inherit; text-decoration: none; cursor: pointer; }
hr { display: none; }
button { padding: 0; border: 0 none; background: none; }

header, footer, article, section, aside, details, figure, figcaption, nav, hgroup { display: block; margin: 0; padding: 0; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0;}
textarea { overflow: auto; vertical-align: top; }

#skip_nav { width: 100%; height: 0; text-align: center; overflow: hidden; }
#skip_nav a { color: #005aab; line-height: 20px; font-size: 14px; font-weight: bold; float: left; }
#skip_nav a:focus, 
#skip_nav a:hover, 
#skip_nav a:active { position: absolute; top: 0; left: 0; width: 100%; height: 20px; text-decoration: underline; background: #fff; overflow: visible; z-index: 1000; }

/* 강조 */
.strong{ background-color:#F6ADA2; color:#fff; font-size:14px; line-height:20px; }

/* list */
.list{ margin-bottom:20px; }
.list li{ list-style: square; font-size:14px; line-height:20px; color:#999;  }

/* question */
.question{ background-color:red; color:#fff; margin:5px 0; display:inline-block; padding:5px; }

/* code 관련 css */
.code{ font-size:14px; line-height:18px; background-color:#ececec; color:#666; text-align:left; padding:10px; margin-bottom:20px; }
xmp{ display:block ; padding:10px; background-color:#ececec; margin-bottom:50px; }