@charset "utf-8";

/* contents1 */
.contents1{ margin:0 auto; }
.contents1 ul{ width:1000px; *zoom:1; }
.contents1 ul li { position:relative;float:left; width:100px; height:30px; border:1px solid #ececec; }
.contents1 ul li button{ display:block; height:100%; }
.contents1 ul li ul { display:none; position:absolute; top:30px; left:0; width:100%; }
.contents1 ul li ul.on{ display:block; }
.contents1 ul li ul li{ float:none; width:auto; height:30px; padding:5px; border:none; }

