@charset "utf-8";
.wrap{

	width:100%;

}

header{

	width:100%;
	height:45px;
	background-color:#fff;
	border-bottom:1px solid #ececec;


}

header ul{

	height:100%;
	overflow:hidden;
	padding-left:75px;


}

header ul li{

	height:100%;
	padding-top:5px;
	float:left;
	box-sizing:border-box;


}

header ul li a{

	font-size:14px;
	color:#666;
	line-height:16px;
	display:block;
	padding:10px;
	

}

.middle{

	width:100%;

}

.middle .lnb{

	width:200px;
	float:left;
	padding-left:20px;
	padding-top:25px;

}

.middle .lnb li a{

	display:block;
	padding:10px;
	border-left:1px solid #ececec;
	font-size:13px;
	color:#666;
	line-height:15px;

}

.middle .lnb li a:hover{

	font-weight:600;
	border-left:2px solid #000;

}

.middle .lnb li a.on{

	border-left:2px solid #000;

}

.contents{

	padding:25px 75px;

}

.contents h1{

	font-size:15px;
	line-height:17px;
	margin-bottom:10px; 
	font-weight:600;
	color:#666;
}


