@charset "utf-8";

/* contents1 */
.contents1{ margin:0 auto; }
.contents1 ul{ width:1000px; *zoom:1; }
.contents1 ul li { position:relative;float:left; width:100px; height:30px; border:1px solid #ececec; }
.contents1 ul li button{ display:block; height:100%; }
.contents1 ul li ul { display:none; position:absolute; top:30px; left:0; width:100%; }
.contents1 ul li ul.on{ display:block; }
.contents1 ul li ul li{ float:none; width:auto; height:30px; padding:5px; border:none; }

/* slide */
.slide_wrap{ width:500px; height:500px; margin:0 auto; border:1px solid #ececec; }
.slide_wrap .slide_view{ width:500px; height:398px; border:1px solid #999; text-align:center; }
.slide_wrap .slide_controll{ position:relative; *zoom:1; }
.slide_wrap .slide_controll:after{ clear:both; display:block; content:""; }
.slide_wrap .slide_controll ul{ float:left; width:300px; height:100px;  }
.slide_wrap .slide_controll ul li{ float:left; width:100px; height:100%;}
.slide_wrap .slide_controll ul li a{ display:block; height:100px; }
.slide_wrap .slide_controll ul li a.on{ width:98px; height:98px; border:1px solid #ececec; }
.slide_wrap .slide_controll ul li .red{ background-color:red; }
.slide_wrap .slide_controll ul li .green{ background-color:green; }
.slide_wrap .slide_controll ul li .blue{ background-color:blue; }
.slide_wrap .slide_controll .next,
.slide_wrap .slide_controll .prev{ float:left; width:100px; height:100px; }

/* contents2 */
.contents2 ul { overflow:hidden; }
.contents2 ul li{ float:left; }
.contents2 ul li a{ display:block; width:50px; height:50px; border:1px solid #ececec; margin-right:20px; }

.contents2 .content div { display:none; width:500px; height:500px; margin-bottom:100px; border:1px solid #000; }
.contents2 .content div.on{ display:block; }
